@font-face { 
  font-family: "NanumSquareNeoVariable";
  src: url(../fonts/NanumSquare\ Neo\ variable.ttf) format('truetype');
  font-style: normal;
}

@font-face { 
  font-family: "NanumSquareArabic";
  src: url(../fonts/Nanum\ Square\ Arabic.otf) format('opentype');
  font-style: normal;
}

@font-face { 
  font-family: "IBMPlexMono";
  src: url(../fonts/IBMPlexMono-Regular.ttf) format('truetype');
  font-style: normal;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
}

html, body {
  height: 100%;
  font-family: "IBMPlexMono";
}

input {
  all: unset;
  outline: 0;
}

input::placeholder {
  color: #000;
  opacity: 0.5;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 30px;
}

header {
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

header > div {
  color: #0f0;
  min-width: 100px;
  text-align: center;
}

header > div:first-child { text-align: left; }
header > div:last-child  { text-align: right; }

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

#ko {
  width: 100%;
  height: 55.25px;
  margin: 29.5px 0;
  font-size: 50px;
  color: #000;
  background-color: #fff;
  font-family: "NanumSquareNeoVariable";
}

#ar {
  width: 100%;
  height: auto; 
  color: #fff;
  font-size: 140px;
  text-align: center;
  overflow: hidden;
  display: block; 
  max-height: 3.5em;
  line-height: 1.75em;
  font-family: "NanumSquareArabic";
}


footer {
  display: flex;
  color: #ddd;
}

footer div div { width: 140px; }
footer .divider { width: 20px; }